
# User-specific config file
config.yaml

# Python binary files
*/__pycache__

# macOS special files
.DS_Store
.AppleDouble
.LSOverride
._*

/alembic
/.idea
data.db
test.py
/log
/sagiri_bot/handler/required_module/saya_manager/saya_data.json
*.pyc
/sagiri_bot/handler/handlers/pica/cache
/sagiri_bot/handler/handlers/genshin_gacha/icon/角色图鉴/*
/sagiri_bot/handler/handlers/genshin_gacha/icon/武器图鉴/*
/sagiri_bot/handler/handlers/genshin_gacha/gid_pool.json
/statics/genshin/*.json
/sagiri_bot/core/api_server/data.json
/statics/genshin/genshin_icon/*
/statics/genshin/map/*
/statics/genshin/material/*
/statics/genshin/temp/*
