
# User-specific config file
config.yaml

# Python binary files
*/__pycache__

# macOS special files
.DS_Store
.AppleDouble
.LSOverride
._*

/alembic/versions
/.idea
data.db
test.py
/log
/sagiri_bot/handler/required_module/saya_manager/saya_data.json