matplotlib
numpy
pydantic
aiohttp
SQLAlchemy
loguru
moviepy
qrcode
beautifulsoup4
Pillow
python_dateutil
PyYAML
graia-application-mirai==0.19.2
graia-broadcast==0.8.11
graia-saya==0.0.8
graia-scheduler==0.0.4
wordcloud
python-dateutil
fastapi
jieba
websockets
uvicorn
aiosqlite
opencv-python
svglib
reportlab
imageio
graiax-silkcoder
alembic
tencentcloud-sdk-python