matplotlib
numpy
pydantic
aiohttp
SQLAlchemy
loguru
moviepy
qrcode
beautifulsoup4
Pillow
python_dateutil
PyYAML
graia-application-mirai
graia-broadcast
graia-saya
wordcloud
python-dateutil
fastapi
jieba
websockets
uvicorn
aiosqlite
opencv-python
svglib
reportlab
imageio
graiax-silkcoder