matplotlib==3.3.4
numpy==1.20.1
pkuseg==0.0.25
pydantic==1.7.1
aiohttp==3.7.4.post0
SQLAlchemy==1.4.2
loguru==0.5.3
moviepy==1.0.3
qrcode==6.1
beautifulsoup4==4.9.3
Pillow~=8.1.2
python_dateutil==2.8.1
PyYAML==5.4.1
graia-application-mirai==0.18.4
graia-broadcast==0.8.10
wordcloud==1.8.1
python-dateutil~=2.8.1
fastapi~=0.63.0